
<div class="center jumbotron">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Small Businesses Gone Mighty!</h1>

      <h2>SITE IS CURRENTLY IN CLOSED ALPHA TESTING.</h2>
        <p>
          You've got your own thing going.   A nice space.  Great regular customers.  A lot of less than regular customers.
          People you've seen once or twice, but who call you out of the blue for a service.
        </p>
        <p> 
          Business ebbs and flows.   When it gets really slow you hook up with Groupon or Living Social.
          Now you get a ton of new visitors for that massage you do, or the Microderm you specialize in,
          or that special hair cut you advertised.   You get a number of customers you saw last time you
          ran an ad too.   They tell you how they've been waiting to see another so they could come back.
        </p>
        <p>
          Now your too busy and making half as much, but at least you have people in the shop.   This site is
          for people like you.   People who take care of other people.   This site will help you take care of them
          better, while taking care of yourself and helping your business grow organically with people you
          already have a relationship with.
        </p>
        <p>
          To make your small business mighty, this site helps you understand your customers.  You will get
          to know their patterns.   You'll understand your busy times and your slower times through analytics
          rather than just the business rhythms you've come to know inherently.
        </p>
        <p>
          For small businesses to become Mighty Smalls, you need a way to leverage relationships you already have
          instead of paying a company to connect you with people you have never met.   You know these
          customers.   Even if they haven't been in for years.   You have their name.  Their address.
        </p>
        <p>
          We will help you connect with them and interact with your regulars in a way you will always
          know when it's time to reach out and when things are going how you want them.   
        </p>

        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary", disabled: true %>
    </div>
  </div>
</div>


