<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @notification.subject %></h2>
    <p>Hello, <%= @customer.first_name %></p><br />
    <p><%= @notification.body %></p>
  </body>
</html>