<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Testing <%= @customer.name %></h1>
    <p>
      <%= @notification.body %><br>
    </p>
  </body>
</html>