<%= provide(:title, "Edit Package") %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2>Edit Package</h2>
    <%= render 'edit_form' %><br />
    <p><%= link_to 'Back to business page', owner_business_path(@owner, @business) %></p>
    <p><%= link_to 'Back to customer view', business_customer_path(@business, @customer) %></p>
  </div>
</div>