<%= provide(:title, "Edit Marketing Campaign") %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2>Edit Marketing Campaign</h2>
    <%= render 'form' %>
    <p><%= link_to 'Back to business page', owner_business_path(@owner, @business) %></p>
  </div>
</div>